@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$valentine-pink: #f1e1e4;
$valentine-red: #FF0000;

.iframe-wrapper {
  position: relative;
  width: 240px;
  height: 126px;
}

.iframe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.valentines-invite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $valentine-pink;
  height: 100vh;
  color: $valentine-red;
  font-family: 'Pacifico', cursive;

  h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    font-family: 'Pacifico', cursive;

  }

  p {
    font-size: 1.5em;
    margin-bottom: 2em;
    font-family: 'Pacifico', cursive;

  }

  .button-container {
    display: flex;
    justify-content: space-around;
    width: 50%;

    button {
      padding: 1em 2em;
      font-size: 1em;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;

      &.yes-button {
        background-color: $valentine-red;
        color: white;

        &:hover {
          background-color: darken($valentine-red, 10%);
        }
      }

      &.no-button {
        background-color: white;
        color: $valentine-red;

        &:hover {
          background-color: darken(white, 10%);
        }
      }
    }
  }
}
